{% extends "base.html" %}

{% block content %}
<div class="shadow-wrap">
    <div class="form-wrap">
        <h3>Login</h3>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="id_username">Username:</label>
                <input type="text" name="username" id="id_username">
            </div>
            <div>
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password">
            </div>
            <button type="submit">Submit</button>
        </form>
        <a class="signup-link" href="{% url 'attendencesystem:signup' %}">Signup</a>
    </div>
</div>
{% endblock %}

